p{
    
    text-align: center;
}

body{
    background-color:orange;
}
.timerTitle{
    /* height:500px; */
    display:flexbox;
    text-align: center;
    

    
}

.timerOther{
    width:200px;
}

.timerOther1{
    display:flex;
    justify-content:center;
    
}

button {
    justify-content:center;
}

.treeGif{
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


