<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>About Us </h1>
<br><br>
<img src ="/static/me.jpg" class="picture">

<h3>Hi, my name is Scott and this is my project</h3>
<br><br>
<h2>Intended purpose</h2>
<p>The intended purpose of my Procrastination app is to build a healthy habbits of </p>
<br><br>
<h2>Interactivity description</h2>
<p> Brandon is a 14 year-old who constantly gets distracted by youtube videos and can't complete his work on time. He wants to procrastinate less and get his work done in a timely manner. When he first starts the web app, he will answer a set of questions that will determine his issues and appropriate/effective solutions. The app will adjust the amount of rewards given and the difficulty of objectives take make the most sense to Brandon. 
    Everyday afterward, Brandon will open the app and enter in his goals/assignments for the day. He will be met with the homepage which contains a  timer, goals tab, daily/universal objectives, and coins. Using the timer, he will determine not only time he expects to be productive, but also the time it takes to grow his tree. At the end of the work session, he has the option to reflect on what he has done and journal. He will cross off the To Do goals after completion and look to see if he has completed any daily/universal objectives in which he can collect coins as a reward.</p>

<div class="card-footer">
    <h6>Version 1</h6>
</div>
{% endblock %}