{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}"  type="text/css" />

<h1>Procrastination and Productivity</h1>
<br><br>
<div class="container">
    <div class="row">
      <div class="row">
        <div class="wordPic">
        <h6>
          Have you ever procrastinated on doing an <strong>important</strong> task.
        </h6>
        <img class="picture" src="/static/procrastination.jpg" >
        </div>  
        
        <div class="wordPic">
        <h6>  
        My goal is to encourage producitvity with this website.
        </h6>
        <img src="/static/productivity.png" class="picture">
        </div>
        <!-- <img class="picture" src = "/static/Capstone_purpose_slide.png" style="width:700px;height:500px">
      </div>
      <div class="row"> -->
        
      </div>
    </div>
  <h1>Guide to use website</h1>
  <ol>
    <li>Go to "Timer" and set the amount of timer you want to be productive</li>
    <li>During the duration of the timer, you will be focused on on being productive while your tree grows.</li>
    <li>After the timer rings, you can journal your working experience</li>


  </ol>
</div>
{% endblock %}
